@{
    ViewBag.title = Model.title + " was added succesfully!";
}

@model Assignment9.Models.Movie

<!--confirmation page to tell user that movie was added correctly with link to list-->
<p>Take a look at your updated list of movies <a asp-action="MovieList">HERE!</a></p>
